div.main-table h1{
    text-align: center;
    font-weight: 100;
    text-indent: 19px;
    margin-top: 60px;
}
 
.information-table div{
  background-color: aliceblue;
  border-bottom: 2px solid lightblue;
  text-align: center;
  font-size: 19px;
}

p-table tr td.blue{
  background-color: aliceblue;
}

table{
  width: 200px;
  background-color: whitesmoke;
}

p-table tr td.gray{
  background-color: rgb(210, 214, 216);
}

#user-info-dialog div, #user-info-dialog section{
  display: inline-block;
}

#user-info-dialog section{
  position: absolute;
  left: 960px;
  top: 37px;
}

#user-info-dialog div{
  width:80%;
  min-height: 500px;
}

#user-info-dialog section img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#user-info-dialog table{
  margin: 20px auto;
  font-size: 20px;
}

.spinner{
  margin: auto;
  widows: 30%;
}

.table-data{
  margin: 29px 0px;  
   -webkit-box-shadow: 10px 10px 5px 0px #a89fa8;
  -moz-box-shadow: 10px 10px 5px 0px #a89fa8;
  box-shadow: 10px 10px 5px 0px #a89fa8;
}

.ui-dialog-content.ui-widget-content{
  overflow: scroll;
}

.float-left, .float-right{
  width: 95%;
  div{
   max-height:  1000px;
   min-height: 150px;
  }
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}
