input{
    width: 100%;
}

input{
    margin-top: 20px;
    height: 50px;
}

button.ui-button-text.ui-clickable {
    padding: 0.429em 1em;
    width: 334px;
    height: 42px;
    font-size: 21px;  
}

div.login-register-div button.ui-buttonui-widget.ui-state-default  span{
    width: 200px;
}

.user-button{
    margin: 10px 0px;
}
    
#radioButtons{
    margin: 14px 0px;
    font-size: 18px;
}

#radioButtons p-radiobutton{
    margin-right: 23px;
}

section input{
    width: 96%;
}

section:last-of-type{
    margin-bottom: 20px;
}