

  #list-progress{
    position: relative;
    left: 594px; 
    top: 102px;
  }

  
p-table th:last-of-type{    width: 65px;}

.hide{
  cursor: pointer;
  float: right;
  margin: 31px;
  color:white;
}

#closeButton{
  z-index: 100;
  position: relative;
  top: -22px;
}