<p-messages [(value)]="msgs"></p-messages>

<div class="main-table">
  <div  style="float: left" class="deleteSelected">
    <p-button *ngIf="users && !!users.length"
              class="main-button" 
              type="button" 
              label="Delete Selected"
              [icon]="'fa fa-trash-o'" 
              (onClick)="deleteSelected()"></p-button>
  </div>
  <h1 class="table-header">User Management</h1>
  <p-button class="float-right main-button" 
            type="button"
            label="Create User"
            [icon]="'fa fa-plus'"   
            (onClick)="manageUser()"></p-button>
</div>

<ng-template #noUsers>
  <div class="emptyTable"> 
    <span class="fa fa-exclamation-circle"></span>
    <br> There are no users yet! You can start with registering one! 
  </div>
</ng-template>

<div *ngIf="users && !!users.length; else noUsers">
      <p-table #tt 
               [columns]="userTableFields" 
               [value]="users"  
               [rowTrackBy]="trackByFn" 
               [paginator]="true" 
               [rows]="20"  
               sortMode="multiple">
          <ng-template pTemplate="caption">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Search" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </ng-template>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <input *ngSwitchCase="'username'" 
                      pInputText 
                      type="text" 
                      (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
          </th>
    <ng-template pTemplate="header" let-columns>
      <tr>
          <th>Delete</th>
          <th *ngFor="let col of columns" 
              [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        <th>Options</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr (dblclick)="addOrEditUser(rowData)">
        <td>
            <p-checkbox name="groupname" [value]="rowData" [(ngModel)]="selectedUsers" (onChange)="hideMessage()"></p-checkbox>
        </td>
        <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
        <td>
            <p-button title="Edit user" [icon]="'fa fa-pencil'" (click)="addOrEditUser(rowData)"></p-button>
            <p-button title="Delete user" [icon]="'fa fa-trash-o'" (click)="delete(rowData)"></p-button>
            <p-button title="User Information" [icon]="'fa fa-info'" [routerLink]="['../userDetails', rowData.id]"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="editUser">
  <p-dialog header="Create/Edit User" 
            class="userDialog" 
            [(visible)]="editUser" 
            [modal]="true" 
            [dismissableMask]="true">
    <app-register [user]="user" 
                  [users]="users"
                  (userChanged)='onSave($event)'></app-register>
  </p-dialog>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>